{%  extends 'bare_base.html' %}
{% block header %}
<style>
    * { padding: 0; margin: 0; }
    canvas { background: #eee; display: block; margin: 3em auto; }
</style>
{% endblock %}
{% block content %}
<canvas id="myCanvas" width="800" height="800"></canvas>
<button type="button" class="btn" id="button">Basic</button>

<script>
	var canvas = document.getElementById("myCanvas");
    var canvasLeft = canvas.offsetLeft + canvas.clientLeft;
    var canvasTop = canvas.offsetTop + canvas.clientTop;
    var context = canvas.getContext("2d");
    context.font = "10px Arial";
    var grid_dimension = 40;
    var square_size = canvas.width / grid_dimension;

    console.log("starting");
    var tick = 0;
    var play = true;

    function zeros(dimensions) {
        var array = [];

        for (var i = 0; i < dimensions[0]; ++i) {
            array.push(dimensions.length == 1 ? 0 : zeros(dimensions.slice(1)));
        }

        return array;
    }

    var tile_grid = zeros([grid_dimension,grid_dimension]);
    var neighbour_grid = zeros([grid_dimension,grid_dimension]);

    canvas.addEventListener('click', function(event) {
	    var x = event.pageX - canvasLeft;
        var y = event.pageY - canvasTop;
        var grid_x = Math.floor(x/square_size);
        var grid_y = Math.floor(y/square_size);
        console.log("click " + grid_x + " " + grid_y);
        if (tile_grid[grid_x][grid_y] == 0){
            tile_grid[grid_x][grid_y] = 1;
        }
        else {
            tile_grid[grid_x][grid_y] = 0;
        }
    }, false);

    document.getElementById('button').onclick = function() {
        if (play == true) {
            play = false;
        }
        else {
            play = true;
        }
    }

    function draw_square(x,y, colour){
        context.beginPath();
        context.rect(x, y, square_size, square_size);
        context.fillStyle = colour;
        context.fill();
        context.closePath();
    }

    function draw() {
        context.clearRect(0, 0, canvas.width, canvas.height);
        for (var x = 0; x < grid_dimension; x++) {
            for (var y = 0; y < grid_dimension; y++) {
                if (tile_grid[x][y] == 1) {
                    draw_square(x*square_size,y*square_size, "#FF8000")
                }
                else {
                    draw_square(x*square_size,y*square_size, "#eee")
                }
            }
        }
    }

    function wrap(i){
        var new_i = i;
        if (i == -1){
            // wrap to right edge
            new_i = grid_dimension - 1;
        }
        else if (i == grid_dimension){
            // wrap to the left edge
            new_i = 0;
        }
        return new_i
    }

    function evolve() {
        neighbour_grid = zeros([grid_dimension,grid_dimension]);
        var next_grid = tile_grid;
        // fill out the neighbour grid
        for (var x = 0; x < grid_dimension; x++) {
            for (var y = 0; y < grid_dimension; y++) {
                // what state is the selected cell in
                if (tile_grid[x][y] == 1) {
                    // if the cell is alive
                    console.log("left x : " + wrap(x-1) + " y: " + y);
                    console.log("above x : " + x + " y: " + wrap(y-1));
                    console.log("right x : " + wrap(x+1) + " y: " + y);
                    console.log("below x : " + x + " y: " + wrap(y+1));
                    //left
                    neighbour_grid[wrap(x-1)][y]++;
                    //up
                    neighbour_grid[x][wrap(y-1)]++;
                    //right
                    neighbour_grid[wrap(x+1)][y]++;
                    //down
                    neighbour_grid[x][wrap(y+1)]++;
                    //left up
                    neighbour_grid[wrap(x-1)][wrap(y-1)]++;
                    //left down
                    neighbour_grid[wrap(x-1)][wrap(y+1)]++;
                    //right up
                    neighbour_grid[wrap(x+1)][wrap(y-1)]++;
                    //right down
                    neighbour_grid[wrap(x+1)][wrap(y+1)]++;
                }
            }
        }
        for (var x = 0; x < grid_dimension; x++) {
            for (var y = 0; y < grid_dimension; y++) {
                var neighbours = neighbour_grid[x][y];
                //context.fillStyle = "#000000";
                //context.textAlign = "center";
                //context.fillText(String(neighbours), x*20 + 10, y*20 +10);
                // what state is the selected cell in
                if (tile_grid[x][y] == 1) {
                    if (neighbours < 2 || neighbours > 3) {
                        next_grid[x][y] = 0;
                    }
                }
                else {
                    // if the cell is dead
                    if (neighbours == 3) {
                        next_grid[x][y] = 1;
                    }
                }
            }
        }
        return next_grid
    }

    function update() {
        canvasLeft = canvas.offsetLeft + canvas.clientLeft;
        canvasTop = canvas.offsetTop + canvas.clientTop;
        draw();
        if (tick % 100 == 0 && play == true) {
            console.log("tick")
            tile_grid = evolve();
        }
        tick++;
    }
    setInterval(update, 10);
</script>
{% endblock %}