{%  extends 'bare_base.html' %}
{% block header %}
<style>
    * { padding: 0; margin: 0; }
    canvas { background: #eee; display: block; margin: 2em auto; }
    .btnContainer{
        float:left;
    }
</style>
{% endblock %}
{% block content %}
<div class="text-center mt-5">
    <h1>Conway's Game of Life</h1>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <canvas id="myCanvas" width="640" height="640"></canvas>
            <br/>
            <br/>
        </div>

        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">
                    <div class="text-center">
                        <button type="button" class="btn btn-success" id="play_button">play</button>
                        <button type="button" class="btn btn-danger" id="reset_button">reset</button>
                    </div>
                </div>
                    <div class="card-body">
                        <div class="text-center">
                            Javascript game of life simulation. Click on the canvas to place live cells and press play to begin the simulation.
                            <br/>
                            <ol>
                                <li>Any live cell with fewer than two live neighbours dies, as if by underpopulation</li>
                                <li>Any live cell with two or three live neighbours lives on to the next generation.</li>
                                <li>Any live cell with more than three live neighbours dies, as if by overpopulation.</li>
                                <li>Any dead cell with exactly three live neighbours becomes a live cell, as if by reproduction.</li>
                            </ol>
                            <a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life">Wikipedia</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
	var canvas = document.getElementById("myCanvas");
    const play_btn = document.getElementById("play_button");
    const reset_btn = document.getElementById("reset_button");
    var canvasLeft = canvas.offsetLeft + canvas.clientLeft;
    var canvasTop = canvas.offsetTop + canvas.clientTop;
    var context = canvas.getContext("2d");
    context.font = "10px Arial";
    var grid_dimension = 40;
    var square_size = canvas.width / grid_dimension;

    console.log("starting");
    var tick = 0;
    var play = false;

    function zeros(dimensions) {
        var array = [];

        for (var i = 0; i < dimensions[0]; ++i) {
            array.push(dimensions.length == 1 ? 0 : zeros(dimensions.slice(1)));
        }

        return array;
    }

    var tile_grid = zeros([grid_dimension,grid_dimension]);
    var neighbour_grid = zeros([grid_dimension,grid_dimension]);

    canvas.addEventListener('click', function(event) {
	    var x = event.pageX - canvasLeft;
        var y = event.pageY - canvasTop;
        var grid_x = Math.floor(x/square_size);
        var grid_y = Math.floor(y/square_size);
        console.log("click " + grid_x + " " + grid_y);
        if (tile_grid[grid_x][grid_y] == 0){
            tile_grid[grid_x][grid_y] = 1;
        }
        else {
            tile_grid[grid_x][grid_y] = 0;
        }
    }, false);

    play_btn.onclick = function() {
        if (play == true) {
            play = false;
            play_btn.className= "btn btn-success";
            play_btn.innerHTML = "play";
        }
        else {
            play = true;
            play_btn.className= "btn btn-warning";
            play_btn.innerHTML = "pause";
        }
    }

    reset_btn.onclick = function() {
        tile_grid = zeros([grid_dimension,grid_dimension]);
        neighbour_grid = zeros([grid_dimension,grid_dimension]);
    }

    function draw_square(x,y, colour){
        context.beginPath();
        context.rect(x, y, square_size, square_size);
        context.fillStyle = colour;
        context.fill();
        context.closePath();
    }

    function draw() {
        context.clearRect(0, 0, canvas.width, canvas.height);
        for (var x = 0; x < grid_dimension; x++) {
            for (var y = 0; y < grid_dimension; y++) {
                if (tile_grid[x][y] == 1) {
                    draw_square(x*square_size,y*square_size, "#FF8000")
                }
                else {
                    draw_square(x*square_size,y*square_size, "#eee")
                }
            }
        }
    }

    function wrap(i){
        var new_i = i;
        if (i == -1){
            // wrap to right edge
            new_i = grid_dimension - 1;
        }
        else if (i == grid_dimension){
            // wrap to the left edge
            new_i = 0;
        }
        return new_i
    }

    function evolve() {
        neighbour_grid = zeros([grid_dimension,grid_dimension]);
        var next_grid = tile_grid;
        // fill out the neighbour grid
        for (var x = 0; x < grid_dimension; x++) {
            for (var y = 0; y < grid_dimension; y++) {
                // what state is the selected cell in
                if (tile_grid[x][y] == 1) {
                    // if the cell is alive
                    console.log("left x : " + wrap(x-1) + " y: " + y);
                    console.log("above x : " + x + " y: " + wrap(y-1));
                    console.log("right x : " + wrap(x+1) + " y: " + y);
                    console.log("below x : " + x + " y: " + wrap(y+1));
                    //left
                    neighbour_grid[wrap(x-1)][y]++;
                    //up
                    neighbour_grid[x][wrap(y-1)]++;
                    //right
                    neighbour_grid[wrap(x+1)][y]++;
                    //down
                    neighbour_grid[x][wrap(y+1)]++;
                    //left up
                    neighbour_grid[wrap(x-1)][wrap(y-1)]++;
                    //left down
                    neighbour_grid[wrap(x-1)][wrap(y+1)]++;
                    //right up
                    neighbour_grid[wrap(x+1)][wrap(y-1)]++;
                    //right down
                    neighbour_grid[wrap(x+1)][wrap(y+1)]++;
                }
            }
        }
        for (var x = 0; x < grid_dimension; x++) {
            for (var y = 0; y < grid_dimension; y++) {
                var neighbours = neighbour_grid[x][y];
                if (tile_grid[x][y] == 1) {
                    if (neighbours < 2 || neighbours > 3) {
                        next_grid[x][y] = 0;
                    }
                }
                else {
                    // if the cell is dead
                    if (neighbours == 3) {
                        next_grid[x][y] = 1;
                    }
                }
            }
        }
        return next_grid
    }

    function update() {
        canvasLeft = canvas.offsetLeft + canvas.clientLeft;
        canvasTop = canvas.offsetTop + canvas.clientTop;
        draw();
        if (tick % 50 == 0 && play == true) {
            console.log("tick")
            tile_grid = evolve();
        }
        tick++;
    }
    setInterval(update, 10);
</script>
{% endblock %}