{%  extends 'bare_base.html' %}
{% block header %}
{% endblock %}
<style>
    * { padding: 0; margin: 0; }
    canvas { background: #eee; display: block; margin: 0 auto; }
</style>
{% block content %}
<canvas id="myCanvas" width="480" height="320"></canvas>

<script>
	var canvas = document.getElementById("myCanvas");
    var ctx = canvas.getContext("2d");

    {#ctx.beginPath();
    ctx.rect(20, 40, 50, 50);
    ctx.fillStyle = "#FF0000";
    ctx.fill();
    ctx.closePath();#}

    function draw() {
    // drawing code
    }
    setInterval(draw, 10);
</script>
{% endblock %}