{%  extends 'blog_base.html' %}
{%  block blog_title %}
<h1 class="fw-bolder mb-1">MA10207W1</h1>
<!-- Post meta content-->
<div class="text-muted fst-italic mb-2">Semester 2 2021</div>
<!-- Post categories-->
<a class="badge bg-secondary text-decoration-none link-light" href="#!">Analysis</a>
<a class="badge bg-secondary text-decoration-none link-light" href="#!">Semester 2 Year 1</a>
{% endblock %}
{%  block blog_content %}
    <iframe src="/static/lecture_notes/MA10207 Week 1.pdf" style="width: 100%;height: 900px;border: none;"></iframe>
{% endblock %}
